.cocky {
  background: url(/public/images/bg_q2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

.section-title {
  position: relative;
}

.section-title p {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}

.section-title h4 {
  font-size: 40px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 20px;
  display: inline-block;
}

.section-title h4:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #d8d8d8;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}

.section-title h4:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #ff7200;
  left: 0;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}

.pt-100 {
  padding-top: 100px;
}

.pb-100 {
  padding-bottom: 100px;
}

.mb-100 {
  margin-bottom: 100px;
}

.services {
  background-color: #fbfbfb;
}

.single-service {
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 30px 20px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.single-service:before {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #ff7200;
  left: 0;
  top: 0;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-service:after {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #ff7200;
  right: 0;
  bottom: 0;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-service:hover:after,
.single-service:hover:before {
  width: 50%;
  height: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-service:hover {
  box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.single-service i.fa {
  font-size: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #ddd;
  line-height: 60px;
  margin-bottom: 30px;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.single-service:hover i.fa {
  background-color: #ff7200;
  color: #fff;
  border-color: #ff7200;
  border-radius: 0;
}

.single-service h4 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.single-service p {
  font-size: 15px;
  line-height: 1.8;
}

/*footer*/
.col_white_amrc {
  color: #fff;
}

footer {
  width: 100%;
  background-color: #263238;

  padding: 10px 0px 25px 0px;
}

.pt2 {
  padding-top: 40px;
  margin-bottom: 20px;
}

footer p {
  font-size: 13px;
  color: #ccc;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.mb10 {
  padding-bottom: 15px;
}

.footer_ul_amrc {
  margin: 0px;
  list-style-type: none;
  font-size: 14px;
  padding: 0px 0px 10px 0px;
}

.footer_ul_amrc li {
  padding: 0px 0px 5px 0px;
}

.footer_ul_amrc li a {
  color: #ccc;
}

.footer_ul_amrc li a:hover {
  color: #fff;
  text-decoration: none;
}

.fleft {
  float: left;
}

.padding-right {
  padding-right: 10px;
}

.footer_ul2_amrc {
  margin: 0px;
  list-style-type: none;
  padding: 0px;
}

.footer_ul2_amrc li p {
  display: table;
}

.footer_ul2_amrc li a:hover {
  text-decoration: none;
}

.footer_ul2_amrc li i {
  margin-top: 5px;
}

.bottom_border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.foote_bottom_ul_amrc {
  list-style-type: none;
  padding: 0px;
  display: table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.foote_bottom_ul_amrc li {
  display: inline;
}

.foote_bottom_ul_amrc li a {
  color: #999;
  margin: 0 12px;
}

.social_footer_ul {
  display: table;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social_footer_ul li {
  padding-left: 20px;
  padding-top: 10px;
  float: left;
}

.social_footer_ul li a {
  color: #ccc;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 50%;
}

.social_footer_ul li i {
  width: 20px;
  height: 20px;
  text-align: center;
}
